@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .w-max-inherit {
    max-width: inherit !important;
  }
}


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  text-align: center;
}